{% extends "layout.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {% include "snippets/header-logged-in.twig" %}
{% endblock %}

{% block content %}

    <script language="javascript">
        function listPreviousQueries() {
            var last_commands = urldecode(readCookie("last_commands"));
            //document.write( "all : " + last_commands + "<br><br><br>");
            var show_max = 30;
            var commandlist = last_commands.split("|")
            var found = commandlist.length;
            for (i = found - 1; i >= found - show_max; i--) {
                if(commandlist[i] != undefined && commandlist[i] != "undefined"){
                    var tokens = commandlist[i].split("#");
                    if (tokens[2] != undefined) {
                        document.write("<li><a href=\"javascript:setCommand('" + tokens[2] + "');\">" + tokens[2] + "</a></li>");
                    }
                }
            }
        }


        function setCommand(command) {
            document.getElementById("query").value = command;
        }

        function urldecode(str) {
            return decodeURIComponent((str + '').replace(/\+/g, '%20'));
        }

        function readCookie(name) {
            name += '=';
            for (var ca = document.cookie.split(/;\s*/), i = ca.length - 1; i >= 0; i--)
                if (!ca[i].indexOf(name))
                    return ca[i].replace(name, '');
        }
    </script>

    <form action="" method="get">
        <section class="sectionbox transparent">
            <div class="single-searchbar">
                {#{{ error }}#}
                <label for="query" class="label-query">
                    <input type="text" name="query" value="{{ query }}" id="query" class="textinput-query"
                           placeholder="select * from xxx" >
                </label>
                <input type="submit" class="btn btn-primary">
            </div>
        </section>
    </form>

{% endblock %}

{% block maincontent %}

    <aside id="js_sidebar" class="disabled">
        <header>
            <h3>last commands</h3>
        </header>
        <section class="aside-content"><ul>
                <script language="javascript">listPreviousQueries();</script></ul>
            </section>
            <!-- -->
        </aside>
        {% if error_message %}
        {{ error_message }}
        {% endif %}
        </section>
        <!-- -->
    </aside>

    <section class="main-content">

        <div class="menu-toggle">
            <!-- -->
        </div>

        <div class="sectionbox sectionbox-info">
            {% if number_of_results > 0 %}
            Found {{ number_of_results }} results. Date of retrieval: {{ timestamp|date('Y-m-d H:i:s')  }}.
                {% if is_cached %}
                    Taken from cache. <a href="query.php?query={{ query }}&page={{ page }}&ignore_cache=1">Refresh</a>
            {% endif %}
        </div>

        <table class="sectionbox">
            <thead>
                <tr>
                {% for c in columns %}
                    <th>{{ c }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row in datapoints %}
                <tr>
                    {% for cell in row %}
                        <td><a href="#" class="tablelink">{{ cell }}</a></td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav class="sectionbox transparent pagination">
         <strong class="legend">Pages:</strong>
         {% for i in 1..number_of_pages %}
            <a href="query.php?query={{ query }}&page={{ i }}" {% if i == page %}class="activepage"{% endif %} >{{ i }}</a>
        {% endfor %}
        {% else %}
        No results found.
        {% endif %}
        </nav>

    </section>
{% endblock %}