{% extends "layout.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    <header class="site-header">
        <h1>{{ title }}</h1>
    </header>
{% endblock %}

{% block content %}
    <script language="javascript">
        function listPreviousQueries(){
    var last_commands = readCookie("last_commands");
    // document.write(last_commands);
    var show_max = 30;
    var found = last_commands.length ;
    for (var command = last_commands.split("|"), i = found -1; i >= found - show_max; i--){
        document.write(command + "<br>");
    }}
    function readCookie(name) {
    name += '=';
    for (var ca = document.cookie.split(/;\s*/), i = ca.length - 1; i >= 0; i--)
        if (!ca[i].indexOf(name))
            return ca[i].replace(name, '');
    }
    </script>

    <form action="" method="get">
        <div class="centerwrapper">
            {#{{ error }}#}
            <label for="query" class="label-query">
                <input type="text" name="query" value="{{ query }}" id="query" class="textinput-query" placeholder="select * from xxx">
            </label>
            <input type="submit" class="btn btn-secondary">
        </div>
    </form>
    
{% endblock %}

{% block maincontent %}
    <section class="main-content">
        <aside id="js_sidebar">
            <header>
                <h3>last commands</h3>
            </header>
            <section class="aside-content">
                <script language="javascript">listPreviousQueries();

                </script>
            </section>
            <!-- -->
        </aside>

        <table>
             {% for c in columns %}
                <th>{{ c }}</th>
            {% endfor %}
             {% for row in datapoints %}
                {% for cell in row %}
                <td>{{ cell }}</td>
                 {% endfor %}
            {% endfor %}
        </table>
    </section>
{% endblock %}